body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

#video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

video {
  width: 50%; /* Tamaño mediano del video */
  height: auto;
  cursor: pointer; /* Cambia el cursor para indicar que el video es clickeable */
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: rainbow-flicker 0.5s infinite;
  display: none; /* Asegurarse de que el overlay esté oculto inicialmente */
}

#overlayImage {
  max-width: 100%;
  max-height: 100%;
}

.hidden {
  display: none;
}

@keyframes rainbow-flicker {
  0% { background: black; filter: brightness(1); }
  14% { background: red; filter: brightness(1.2); }
  28% { background: orange; filter: brightness(1); }
  42% { background: yellow; filter: brightness(1.2); }
  57% { background: green; filter: brightness(1); }
  71% { background: blue; filter: brightness(1.2); }
  85% { background: indigo; filter: brightness(1); }
  100% { background: violet; filter: brightness(1.2); }
}