* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

html, body {
  height: 100%;
  overflow: hidden;
}

body {
  background-image: url("Fondo.png"); /* Tu fondo */
  background-size: 120%; /* Pequeño zoom (ajustable) */
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  transition: background-position 0.3s ease;
  cursor: none;
}

#arma {
  position: absolute;
  width: 320px;
  height: auto;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 10; /* Muy por encima */
  pointer-events: none;
  user-drag: none;
  -webkit-user-drag: none;
}

#objetivos-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.objetivo {
  position: absolute;
  width: 130px;
  height: auto;
  pointer-events: auto;
  transition: transform 0.3s ease, top 2s ease-out;
  z-index: 1; /* Detrás del arma */
}

#vida-container {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 50;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#vida-img {
  width: 250px;
  height: auto;
  transition: transform 0.2s;
}

@keyframes temblor {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(2deg); }
  50% { transform: rotate(-2deg); }
  75% { transform: rotate(2deg); }
  100% { transform: rotate(0deg); }
}

@font-face {
  font-family: "PixelFont";
  src: url("pixel.ttf") format("truetype");
}

#vida-texto {
  margin-top: 5px;
  color: white;
  font-family: "PixelFont", monospace;
  font-size: 16px;
  text-shadow: 1px 1px 2px black;
}

#cronometro {
  position: fixed;
  top: 20px;
  left: 20px;
  color: white;
  font-family: "PixelFont", monospace;
  font-size: 16px;
  text-shadow: 1px 1px 2px black;
  z-index: 100;
}

#bajas-container {
  position: fixed;
  top: 50px; /* debajo del cronómetro */
  left: 20px;
  color: white;
  font-family: "PixelFont", monospace;
  font-size: 14px;
  text-shadow: 1px 1px 2px black;
  z-index: 100;
  line-height: 1.4;
}

.baja-texto {
  margin: 2px 0;
}

#balas-container {
  position: fixed;
  top: 95px; /* debajo del contador de bajas */
  left: 20px;
  color: white;
  font-family: "PixelFont", monospace;
  font-size: 14px;
  text-shadow: 1px 1px 2px black;
  z-index: 100;
}

.mensaje-log {
  transition: opacity 0.5s ease;
}

@media (max-width: 768px), (max-height: 500px) {
  body {
    background-size: cover; /* Ocupa todo sin zoom */
    background-position: center center;
  }
}